
<link href="/Style/Common/common.css" rel="stylesheet" />
<link href="/Style/Blog/Article/Index.css" rel="stylesheet" />

<div class="children_body">
    <div class="opacity_bg content_bg"></div>
    <div class="content_box">
        <div class="title">
            <div class="inner pad_left pad_right">
                <span class="title_lable">博文</span>
                <span> > </span>
                <span class="title_blogName">没有文章啦！</span>
            </div>
        </div>
        <div class="content">
            <div class="inner pad_left pad_right">
                <div class="title_box">
                    <div class="title">
                        <span class="title_blogName">没有文章啦！</span>
                    </div>
                </div>
                <div class="lable_box">
                    <span class="lable">未知</span>
                    <span class="see_count">
                        <svg t="1570439604492" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2010" width="22" height="22"><path d="M512 760.5c-55.9 0-113.8-12.3-172.1-36.4-45.9-19-92.1-45.5-137.4-78.6-76.7-56.1-124.1-111.8-126-114.1-9.5-11.2-9.5-27.6 0-38.7 2-2.3 49.4-58 126-114.1C247.8 345.5 294 319 339.9 300c58.3-24.2 116.2-36.4 172.1-36.4 55.9 0 113.8 12.3 172.1 36.4 45.9 19 92.1 45.5 137.4 78.6 76.7 56.1 124.1 111.8 126 114.1 9.5 11.2 9.5 27.6 0 38.7-2 2.3-49.4 58-126 114.1-45.3 33.1-91.5 59.6-137.4 78.6-58.3 24.2-116.2 36.4-172.1 36.4zM140.2 512c19.5 20.1 54 53.2 98.9 85.9 64.2 46.8 163.7 102.6 272.9 102.6 109.1 0 208.6-55.8 272.9-102.6 44.9-32.7 79.4-65.8 98.9-85.9-19.5-20.1-54-53.2-98.9-85.9-64.3-46.8-163.8-102.6-272.9-102.6-172.5 0-321.7 136.9-371.8 188.5z" fill="#A68B54" p-id="2011"></path><path d="M512 512m-173.3 0a173.3 173.3 0 1 0 346.6 0 173.3 173.3 0 1 0-346.6 0Z" fill="#A68B54" p-id="2012"></path></svg>
                        <span>0</span>
                    </span>
                    <span class="publish_time">0001/01/01 00:01</span>
                </div>

                <div class="blog_text">

                </div>
            </div>
            <div class="page_btn_box">
                <div class="_box">
                    <a class="item" data-value="up" href="javascript:;">上一篇</a>
                    <a class="item" data-value="down" href="javascript:;">下一篇</a>
                </div>

            </div>
        </div>
    </div>
    <div class="opacity_bg comment_bg"></div>
    <div class="comment">
        <div class="inner pad_left pad_right">
            <div class="title">
                <span>全部评论</span>
                <span class="comment_count"></span>
            </div>
            <div class="comment_box">
                <div class="user_head_box">
                    <img class="user_head" />
                </div>
                <div class="info_box">
                    <div class="user_info">
                        <span class="user_name"></span>
                        <span class="comment_time"></span>
                    </div>
                    <div class="comment_info">

                    </div>
                </div>
            </div>

            <div class="page_box">
                <div class="page">
                    <span class="page_item">上一页</span>

                    <span class="page_item selected_this">1</span>
                    <span class="page_item">2</span>
                    <span class="page_item">3</span>
                    <span class="page_item">4</span>
                    <span class="page_item">5</span>
                    <span class="page_item">…</span>
                    <span class="page_item">7</span>

                    <span class="page_item">下一页</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import common from '/Script/Common/Common.js'

    common.use(['Jq', 'Article', 'Http'], (modules) => {
        //modules.http.ajax('/dd/aa.html')
    });

</script>

